{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'homepage' %}">we.Fwks!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Hi, {{ user.username }}!</a>
                    <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog</a>
                    <a class="nav-item nav-link" href="#">Todo</a>
                {% else %}
{#                    <a class="nav-item nav-link" href="{% url 'homepage' %}">Home</a>#}
                    <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog Posts Preview!</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                {% include "_partials/dropdown_auth.html" %}
            {% else %}
                {% include "_partials/dropdown_guest.html" %}
            {% endif %}
        </div>
    </div>
</nav>
