<div class="navbar-nav">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Shortcuts
        </a>
        <div class="dropdown-menu">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li class="list-group-item list-group-item-light">
                    <a href="{% url 'register' %}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>