<ul class="list-group">
    <li class="list-group-item list-group-item-light">
        <a href="{% url 'post-create' %}">Create post</a>
    </li>
    <li class="list-group-item list-group-item-light">
        <a href="{% url 'all-user-posts' %}">All my posts</a>
    </li>
    <li class="list-group-item list-group-item-light">
        <a href="#">Add a To Do task</a>
    </li>
    <li class="list-group-item list-group-item-light">
        <a href="{% url 'logout' %}">Logout</a>
    </li>
</ul>
        {#<li class="list-group-item list-group-item-light">Latest Posts</li>#}
        {#<li class="list-group-item list-group-item-light">Announcements</li>#}
        {#<li class="list-group-item list-group-item-light">Calendars</li>#}
        {#<li class="list-group-item list-group-item-light">etc</li>#}
