<ul class="list-group">
    <li class="list-group-item list-group-item-light">
        <a href="{% url 'login' %}">Login</a>
    </li>
    <li class="list-group-item list-group-item-light">
        <a href="{% url 'register' %}">Register</a>
    </li>
    <ul>
    {#<li class="list-group-item list-group-item-light">Latest Posts</li>#}
    {#<li class="list-group-item list-group-item-light">Announcements</li>#}
    {#<li class="list-group-item list-group-item-light">Calendars</li>#}
    {#<li class="list-group-item list-group-item-light">etc</li>#}
