{% extends '_shared/base.html' %}
{% load static %}

{% block content %}
    <h1 class="mb-3">Exam Requirements</h1>
    {% include '_partials/paginator.html' %}
    {% for entry in page_obj %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-title">
                    <span><h4>{{ entry.title }}</h4>
                    <h6>{{ entry.requirement }}</h6></span>
                </div>
                <p class="article-title">{{ entry.implementation|safe }}</p>
                <div class="article-metadata"></div>
                <div class="article-metadata">
                    <small class="text-muted">Last updated: {{ entry.date_updated|date:"G:i - D, j N, Y" }};</small>
                    <small class="btn-outline-secondary">State: {{ entry.state }}</small>
                    <small class="mr-2">{{ entry.status }}</small>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}