{% extends "_shared/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="{% url 'todo-app' %}">
            {% csrf_token %}
            <legend class="border-bottom mb-4"><h3> Tasks </h3></legend>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add task</button>
            </div>
        </form>
    </div>
    {% include '_partials/paginator.html' %}
    <div class="content-section">
        {% if page_obj %}
            {% for task in page_obj %}
                <div class="row">
                    <div class="col-md-8">
                        {% if task.complete == True %}
                            <span style="text-decoration: line-through;">{{ task }}</span>
                        {% else %}
                            <span>{{ task }}</span>
                        {% endif %}
                    </div>
                    <div class="col-mr-4">
                        <a class="btn btn-sm btn-outline-info" href="{% url 'update_task' task.id %}">Update</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'delete' task.id %}">Delete</a>
                    </div>
                </div>
                <div class="row border-bottom mb-4">
                    <small class="text-muted">
                        <span class="col">Created: {{ task.created }}</span>
                    </small>
                </div>
            {% endfor %}
        {% else %}
            <div class="border-bottom mb-2"><h3> Such nothing... </h3></div>
        {% endif %}
    </div>
{% endblock %}