{% extends '_shared/base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h2>Nope.</h2>
            <h1>403<br><small>Permission denied</small></h1>
            <small> {{ exception }} </small>
            <p class="lead">You should not be here.</p>
            <a href="/" class="btn btn-link">Home</a>
            <span class="divider">·</span>
            <a href="/blog/" class="btn btn-link">Blog</a>
            <span class="divider">·</span>
            <a href="/Log in" class="btn btn-link">Log in</a>
        </div>
    </div>
{% endblock content %}