{% extends "_shared/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
{#                <div id="profile-picture" class="form-control-file">#}
{#                    <label class="required" for="profile-picture">#}
{#                        Upload a new profile picture#}
{#                    </label>#}
{#                    <div class="">#}
{#                        {{ profile_form.image }}#}
{#                    </div>#}
{#                </div>#}
{#                <div id="flash-quotes" class="form-control">#}
{#                    <label class="requiredField" for="flash-quotes">#}
{#                        See only 'clean' FlashQuotes?#}
{#                    </label>#}
{#                    <div class="">#}
{#                        {{ profile_form.clean_quote_of_the_day }}#}
{#                    </div>#}
{#                </div>#}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update profile</button>
            </div>
        </form>
    </div>
{% endblock content %}