{% extends "_shared/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary mb-5">{{ user.email }}</p>
                <legend class="border-bottom mb-2">Profile Info</legend>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {#                <label class="text-muted" id="First Name">First Name: {{ user_form.first_name }}</label>#}
                {#                <label class="text-muted" id="Last Name">Last Name: {{ user_form.last_name }}</label>#}
                {#                <label class="text-muted" id="email">Email: {{ user_form.email }}</label>#}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn-sm btn-outline-info" type="submit">Update profile</button>
            </div>
        </form>
    </div>
{% endblock content %}